<!DOCTYPE html>
<html>

  <head>
    {% include head.html %}
    {% include mathjax.html %}
    {% seo %}
    {% if page.image %}
      <meta content="{{ page.image }}" property="og:image" />
    {% else %}
      <meta content="https://github.com/anamika-sen/anamika-sen.github.io/blob/7e33ab8d84ca6de9c8d1f949779f14f8c37fe880/assets/Photo%20(edited).JPG" property="og:image" />
    {% endif %}
  </head>

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include analytics.html %}
  </body>

</html>
